.container {
    width: 100%;
    height: 100vh;
}

.search {
    width: 100%;
    margin-left: 1400px;
}

.boardHeader {
    margin-top: 20px;
}


:global(.ant-table-tbody > tr > td) {
    background-color: transparent ;
    /* 셀 배경 제거 */
    border-top: 1px solid #e0e0e0 ;
    border-bottom: 1px solid #e0e0e0 ;
    border-left: none ;
    border-right: none ;
    text-align: center ;
}

/* 헤더 배경 제거 */
:global(.ant-table-thead > tr > th) {
    background-color: transparent !important;
    border-top: 1px solid #e0e0e0 !important;
    border-bottom: 1px solid #e0e0e0 !important;
    border-left: none ;
    border-right: none ;
    text-align: center !important;
}

/* hover 시에도 배경색 유지 */
:global(.ant-table-tbody > tr:hover > td) {
    background-color: transparent;
}

/* 선택(체크박스 선택)된 행의 배경 제거 */
:global(.ant-table-row-selected > td) {
    background-color: transparent ;
}