.header {
    height: 60px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header .logo img {
    height: 40px;
}

.header .logo span {
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(45deg, #8e44ad, #2196f3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

button {
    background: linear-gradient(45deg, #8e44ad, #2196f3);
    border: none;
    color: white !important;
    font-weight: 500;
    width: 120px;
    height: 30px;
    border-radius: 5px;
}