.header {
    height: 60px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    flex-shrink: 0; 
}

.header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header .logo img {
    height: 40px;
}

.header .logo span {
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(45deg, #8e44ad, #2196f3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header .logo:hover {
     cursor: pointer;
}
/* 
button {
    background: linear-gradient(45deg, #8e44ad, #2196f3);
    border: none;
    color: white !important;
    font-weight: 500;
    width: 120px;
    height: 30px;
    border-radius: 5px;
} */

.profileContainer {
  width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.profileImage {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: cover;
    transition: 0.3s ease;
}

.profilePopupImage{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    transition: 0.3s ease;
}
.messengerIcon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: linear-gradient(45deg, #8e44ad, #2196f3);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.messengerIcon:hover {
  transform: scale(1.1);
}

.sendIcon {
  color: #fff;
  font-size: 18px;
}

.userName {
  display: block;             /* 줄바꿈 허용 */
  max-width: 120px;           
  white-space: nowrap;        /* 한 줄 유지 */
  overflow: hidden;           /* 넘치는 글자 숨김 */
  text-overflow: ellipsis;    /* …으로 표시 */
  font-weight: 600;
  font-size: 22px;
  text-align: left  ;         
  margin-Top: 25px;
}  


/* Header.module.css */

.noticeContainer {
  position: relative;
  cursor: pointer;
}

.noticeIcon {
  font-size: 26px;
  color: #555;
}

.noticeBadge {
  position: absolute;
  top: -2px;
  right: -2px;
  width: 10px;
  height: 10px;
  background-color: #ff3b30; /* 예쁜 iOS 빨간색 느낌 */
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}