/* UserRegister.module.css */

.container {

  min-width: 900px;
  width: 100%;



  padding-top: 10px;
  padding-left: 30px;
  font-family: 'Noto Sans KR', sans-serif;
}

.header h1 {

  font-size: 26px;
  font-weight: 600;
  margin-bottom: 40px;
  color: #333;
}

.content {
  display: flex;
  gap: 40px;
  padding-top: 10px;
}

.left {
  flex: 1;
  min-width: 240px;
  min-height: 240px;
  display: flex;
  border-right: 1px solid #e0e0e0;
  font-size: 14px;
  color: #777;
}

.profileContainer {
  width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.profileImage {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: 0.3s ease;
}

.placeholder {
    width: 170px;
    height: 170px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: rgb(204, 204, 204);
}

.profileButtons {
   margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center; /* 가운데 정렬 */
}
.uploadBtn, .removeBtn {
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s;
}

.uploadBtn {
    width: 120px;
    background: linear-gradient(45deg, #8e44ad, #2196f3);
    color: white;
    text-align: center;
}

.uploadBtn:hover {
    opacity: 0.9;
}

.removeBtn {
  width: 120px;
    background: #ffbdbe;
    color: white;
    text-align: center;
}

.removeBtn:hover {
    opacity: 0.9;
    background: #ff5d5f;
}


.right {
  flex: 9;
}

.right>div {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
  min-width: 400px;
  max-width: 400px;
  width: 43%;
}

.right label {
  width: 100px;
  text-align: left;
  font-weight: 500;
}

.right :global(.ant-input) {
  flex: 1;
}
.right .birth {
  min-width: 410px;
  max-width: 410px;
}
.birthSpan{
  width: 120px;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
}

.birthSpan label{
  padding-bottom: 2px;
}

.right .hire_date {
  min-width: 237px;
  max-width:237px;
}
.address :global(.ant-input[name="zip_code"]) {
  width: 410px !important;
  flex: 0 0 165px !important;
  /* ✅ width만 고정, 나머지는 flex 구조 유지 */
  margin-left: 10px;
}
.address>div {
  display: block;
  /* 한 줄씩 아래로 내려가게 */
  margin-bottom: 12px;
}

.address>div input {
  width: 100%;
}

.bottomButton{
  margin-left: 228px;
}


.bottomButton button{
  width: 80px;
}

.idBtn {
  width: 90px;
  font-size: 14px;
}

