* {
    box-sizing: border-box;

}

.container {

    width: 100%;
    height: 100%;
    font-size: 15px;

}


/* 메인 */
.main {

    width: 80%;
    height: 100%;
    float: left;

}

.mainHeader {
    width: 100%;
    height: 20%;


}

.headerbutton {
    font-size: 15px;
    margin: 10px;
}


.mainHeadertop {

    height: 60%;
    font-size: 35px;
}

.mainHeaderbottom {

    height: 40%;
    margin-top: 25px;
}

.containertop {
    width: 100%;
    height: 50%;
    border: none;
}

.containerhalf {
    width: 100%;
    height: 50%;
    border: none;
}

.mainHeadertag {

    width: 20%;
    height: 100%;
    float: left;
    display: flex;
    /* Flexbox 활성화 */
    align-items: center;
    /* 세로 중앙 정렬 */
    justify-content: center;
    /* 가로 중앙 정렬 */
    text-align: center;
    border: none;
}

.mainBody {
    width: 100%;
    height: 80%;
    font-size: 15px;
    color: black;

}

.mainBodyViewContent{
    
    min-height: 600px;
    max-height: 600px;
    overflow-y: auto;
}

.mainBodyHeader {
    width: 100%;
    height: 5%;
    float: left;
}

.mainBodylist {
    width: 100%;
    height: 95%;
    float: left;
}


.mainBodylistbox {

    height: 5%;
}

.mainBodylistbox:hover {
    cursor: pointer;
    background-color: lightgrey;
}

.mainBodycheckbox {
    width: 10%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
}

.mainBodytag {

    width: 18%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
}

.mainBodytagTitle {

    width: 36%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
}


.mainBodybox {
    width: 100%;
    height: 10%;
    background-color: #007bff;
    color: white;


}


.NewSharedMailbox1 {

    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    float: left;
}

.NewSharedMailbox2 {

    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    float: left;
}




.createbtn {
    width: 10%;
    height: 50%;
    display: block;
    /* 블록처럼 쌓이게 */
    font-size: 15px;
    margin: 2px 0;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    /* 밑줄 제거 */
    border-radius: 10px;
    text-align: center;
    font-weight: 500;
    float: right;

}

.createbtn:hover {
    cursor: pointer;
}


.backBtn {
    float: right;
}

.downloadBtn {
    float: left;
}


/* api 에디터 */

/* 에디터 전체 */
:global(.ck.ck-editor) {
    background: white !important;
    color: black !important;
    border: 1px solid #ccc;
    border-radius: 6px;

}

/* 툴바 전체 */
:global(.ck.ck-toolbar) {
    background: #f5f5f5 !important;
    border-bottom: 1px solid #ddd !important;
    color: black !important;
    /* 텍스트 색 */
}

/* 툴바 버튼 */
:global(.ck.ck-toolbar .ck-button) {
    color: black !important;
    /* 버튼 텍스트 */
    fill: black !important;
    /* SVG 아이콘 */
}

/* 툴바 버튼 hover */
:global(.ck.ck-toolbar .ck-button:hover) {
    background: #e0e0e0 !important;
}

:global(.ck.ck-toolbar .ck-button:hover .ck-icon) {
    fill: #007bff !important;
    /* hover 시 아이콘 파란색 */
    color: #007bff !important;
    /* hover 텍스트 */
}

/* 본문 영역 */
:global(.ck-content) {
    background: white !important;
    color: black !important;
    min-height: 600px;
    /* 본문 내용 크기 */
    max-height: 600px;
    overflow-y: auto;
}
.ck-content img {
  max-width: 100%;
  height: auto;
}