.container {
  width: 100%;
  padding: 30px 10px;
}

.title {
  font-size: 22px;
  font-weight: 600;
  color: #222;
  margin-bottom: 25px;
}

/*필터 영역 */
.filterArea {
  display: flex;
  flex-wrap: wrap;
  gap: 12px 20px;
  align-items: center;
  margin-bottom: 25px;
}

.filterItem {
  display: flex;
  align-items: center;
  gap: 8px;
}

.filterItem label {
  font-weight: 500;
  font-size: 18px;
  color: #333;
  min-width: 80px;
  text-align: right;
}

.filterItem input {
  height: 32px;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0 8px;
  font-size: 13px;
  width: 180px;
}

.filterItem2 {
  display: flex;
  align-items: center;
  gap: 8px;
}

.filterItem2 label {
  font-weight: 500;
  font-size: 18px;
  color: #333;
  min-width: 25px;
  max-width: 25px;
  text-align: right;
}

.filterItem2 input {
  height: 32px;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0 8px;
  font-size: 13px;
  width: 180px;
}




/* 🧾 테이블 */
.tableWrap {
  margin-top: 10px;
}

/* antd 헤더 커스터마이징 */
:global(.ant-table-thead > tr > th) {
  background-color: #fafafa !important;
  text-align: center !important;
  font-weight: 600 !important;
  border-bottom: 2px solid #ddd !important;
  color: #333;
  font-size: 14px;
}

/* antd 본문 */
:global(.ant-table-tbody > tr > td) {
  text-align: center !important;
  font-size: 13px;
  border-bottom: 1px solid #eee !important;
  padding: 10px 8px !important;
}

/* 페이지네이션 */
:global(.ant-pagination) {
  margin-top: 16px !important;
  justify-content: center;
}

/* 반응형 대응 */
@media (max-width: 768px) {
  .filterArea {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .filterItem label {
    min-width: 70px;
  }

  .filterItem input {
    width: 160px;
  }
}

.searchBtn {
  width: auto !important;

  /* background: linear-gradient(45deg, #d36dff, #ff3fef) !important; */

  background: transparent !important;
  border: 1px solid #7d5fff !important;

  /* 연한 보라색 테두리 */
  color: #a995ff !important;
  /* 진한 보라색 글자 */
  font-size: 12px !important;
  font-weight: 700 !important;
  border-radius: 5px !important;
  padding: 6px 15px;

  text-decoration: none;
  /* 링크 밑줄 제거 */
  cursor: pointer;
}

.searchBtn:hover {
  background: #7c5fffc2 !important;
}


.clearBtn {
  width: auto !important;

  background: transparent !important;
  border: 1px solid rgb(255, 95, 95) !important;


  /* 연한 보라색 테두리 */
  color: rgb(255, 116, 116) !important;
  /* 진한 보라색 글자 */
  font-size: 12px !important;
  font-weight: 500 !important;
  border-radius: 5px !important;
  padding: 6px 15px;

  text-decoration: none;
  /* 링크 밑줄 제거 */
  cursor: pointer;
}

.clearBtn:hover {
  background: rgba(255, 95, 95, 0.658) !important;
}