.container {
  width: 100%;
  padding: 0px 10px;
}

.title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

.tabArea {
  display: flex;
  gap: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
  margin-bottom: 15px;
}

.tabArea span {
  color: #555;
  cursor: pointer;
}

.active {
  font-weight: 700;
  color: #000;
}

/* 서브탭 */
.subTabs {
  display: flex;
  gap: 50px;
  background: #ffffff;
  padding: 7px 8px;
  border-radius: 8px;
  margin: 8px -5;
  margin-left: -10px;
}

.subTab {
  cursor: pointer;
  font-size: 15px;
  color: #555;
  padding: 5px 12px;
  border-radius: 6px;
  transition: 0.25s;
}

.subTab.active {
  background-color: rgba(60, 102, 222, 0.85);
  color: white;
  font-weight: 500;
  box-shadow: 0 1px 3px rgba(60, 102, 222, 0.25);
}

.subTab:hover {
  background-color: rgba(60, 102, 222, 0.15);
  color: #2d4fc2;
}

.subTabActive {
  cursor: pointer;
  font-size: 15px;
  padding: 5px 12px;
  border-radius: 6px;
  transition: 0.25s;
  background-color: rgba(60, 102, 222, 0.85);
  color: white;
  font-weight: 500;
  box-shadow: 0 1px 3px rgba(60, 102, 222, 0.25);
}

.subTabActive:hover {
  background-color: rgba(60, 102, 222, 0.15);
  color: #2d4fc2;
}

.searchBox {
  border: 1px solid #e0e0e0;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-top: 20px;

}

.row {
  display: flex;
  align-items: center;
  /* 세로 정렬 문제 해결 */
  gap: 10px;
  width: 100%;
}

.row input {
  min-width: 100px;
}

.row label {
  font-weight: 500;
  white-space: nowrap;
  line-height: 32px;
  /* Input/Select 높이에 맞춤 */
}

.periodLabel {
  margin-left: 20px;
}

/* ✅ 버튼 */
.searchBtn {
  margin-left: 10px;
  background-color: #3c66de;
  color: white !important;
  border: none;
  border-radius: 6px;
  height: 32px;
  padding: 0 14px;
  font-size: 13px;
  flex: 0 0 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.searchBtn:hover {
  background-color: #3c67decc !important;
}

.tableHeader {
  font-weight: 600;
  margin-bottom: 10px;
}


.detailBtn {
  background-color: #f3f3f3;
  border: 1px solid #bbb;
  font-size: 13px;
  padding: 2px 10px;
  margin: auto;
}

.detailBtn:hover {
  background-color: #ddd;
}

.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
}

/* MailArchiveHistory.module.css */
.detailInfo p {
  display: flex;
  gap: 8px;
  /* label과 값 사이 간격 */
  align-items: center;
  margin-left: 30px;
  /* 수직 중앙 정렬 */

}

.detailInfo strong {
  width: 80px;
  /* 레이블 너비 고정 */
  flex-shrink: 0;
  /* 레이블 크기 유지 */
}