.container {

    height: 100%;
    font-size: 15px;
    min-width: 900px;
    width: 100%;
    padding: 30px 10px;
}


.userManageBtn {
    margin-bottom: 10px;
}

.header {
    display: flex;
}

/* userManageBtn 내부 버튼 스타일 */
.buttonLink {
    width: auto !important;
    margin-left: 10px;
    background: linear-gradient(45deg, #8e44ad, #2196f3) !important;

    border: none !important;

    /* 연한 보라색 테두리 */
    color: white !important;
    /* 진한 보라색 글자 */
    font-size: 13px !important;
    font-weight: 500 !important;
    border-radius: 5px !important;
    padding: 6px 12px;

    text-decoration: none;
    /* 링크 밑줄 제거 */
    cursor: pointer;
}

.buttonLink:hover {
    background: linear-gradient(45deg, #8d44add3, #2195f3d5) !important;
}

.select>* {

    padding-left: 2px !important;
}

.tableHead {
    width: 80%;
    font-weight: 350;
    color: rgb(29, 29, 29);
}

.tableHead button {
    width: auto;
    background: none;
    color: rgb(29, 29, 29) !important;
    /* 글자색을 검은색으로 설정 */
    font-weight: 350 !important;
    font-size: 14px !important;
    border: none;
    outline: black;
    cursor: pointer;

    margin-right: 10px;

}

.tableHead button:hover {
    /* 예: 포커스 시 배경색을 약간 변경하거나 */
    background-color: rgba(0, 0, 0, 0.05);
    /* 또는 밑줄을 추가합니다. */

}

.cancelBtn {
    color: rgb(45, 45, 45) !important;
}