.container {

    height: 100%;
    font-size: 15px;
    min-width: 900px;
    width: 100%;
    padding: 30px 10px;
}


.userManageBtn {
    margin-bottom: 10px;
}

/* userManageBtn 내부 버튼 스타일 */
.addBtn {
    width: auto !important;
    margin-left: 2px;
    background: linear-gradient(45deg, #8e44ad, #2196f3) !important;

    border: none !important;

    /* 연한 보라색 테두리 */
    color: white !important;
    /* 진한 보라색 글자 */
    font-size: 13px !important;
    font-weight: 500 !important;
    border-radius: 5px !important;
    padding: 6px 12px;

    text-decoration: none;
    /* 링크 밑줄 제거 */
    cursor: pointer;

}


.addBtn:hover {
    background: linear-gradient(45deg, #8d44add3, #2195f3d5) !important;
}

.select>* {
    padding-left: 2px !important;
}

.tableHead {
    width: 80%;
    font-weight: 350;
    color: rgb(29, 29, 29);
}

.tableHead button {
    width: auto;
    background: none;
    color: rgb(29, 29, 29) !important;
    /* 글자색을 검은색으로 설정 */
    font-weight: 350 !important;
    font-size: 14px !important;
    border: none;
    outline: black;
    cursor: pointer;

    margin-right: 10px;

}

.tableHead button:hover {
    /* 예: 포커스 시 배경색을 약간 변경하거나 */
    background-color: rgba(0, 0, 0, 0.05);
    /* 또는 밑줄을 추가합니다. */

}

.cancelBtn {
    color: rgb(45, 45, 45) !important;
}

.searchLine {
    display: flex;
    justify-content: space-between;
    /* 버튼 왼쪽, 검색 오른쪽 */
    align-items: center;
    /* 세로 가운데 정렬 */
    width: 100%;
    gap: 10px;
    /* 버튼과 검색창 사이 간격 */
}

.searchBox {
    display: flex;
    justify-content: flex-end;
    width: 30%;
    min-width: 100px;
    border: 1px solid gray;
    border-radius: 8px;
    background-color: white;
    align-items: center;
    padding: 2px 5px;
}

.searchBox input {
    width: 100%;
    border: none;
    outline: none;
    box-shadow: none;
}