.ScheduleWrapper {
    position: relative;
    margin-top: 0px;
}

.addBtn {
     position: absolute !important;
    top: 0px;
    /* 탭 줄과 수직 맞춤 */
    right: 50px;
    /* 화면 오른쪽 여백 */
    background: linear-gradient(45deg, #8e44ad, #2196f3);
    color: white;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 6px;
    padding: 7px 15px;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
      /* ✅ 추가 */
  position: absolute !important; /* fixed ❌ 절대 금지 */
  z-index: 3; /* 캘린더 위에만 살짝 올라오게 */

}
.addBtn:hover {
    opacity: 0.9;
}


